<div *ngIf="language === 'es'" class="terms-and-conditions-wrapper">
  <div class="terms-and-conditions">
    <div>
      <h3><b>TÉRMINOS Y CONDICIONES</b></h3>
      <br /><br />
      <p>
        En estos términos y condiciones se usa el nombre “TixGo” para designar al sistema de venta
        de entradas. Al adquirir entradas a través del sistema TixGo el usuario declara conocer y
        aceptar las siguientes políticas, términos y condiciones. Los términos y condiciones de uso
        del sistema son de carácter obligatorio y vinculante. De no aceptar los términos,
        condiciones y políticas de TixGo deberá abstenerse de usar el servicio.
      </p>
      <p>
        El sistema TixGo permite a los usuarios adquirir entradas a través de internet u otros
        medios digitales similares. El sistema seleccionará en forma automática el mejor lugar
        disponible al momento de realizar su compra de acuerdo al nivel de precio y categoría de la
        entrada solicitada.
      </p>
      <p>
        Se entiende en adelante que los términos “Ticket” o “QR” son equivalentes en cuanto a la
        aplicación a los mismos de estos términos y condiciones y en cuanto a su funcionalidad para
        acceder a los eventos.
      </p>
      <p>
        Toda compra realizada mediante el sistema se encuentra sujeta a un cargo por servicio
        adicional al precio del ticket (los que se informan en la lista de precios para cada
        evento).
      </p>
      <p>
        Los Tickets podrán ser adquiridos por el consumidor en las condiciones especiales definidas
        para cada evento.
      </p>
      <p>
        Los cargos por servicio que hubieren sido efectivamente prestados por TixGo no serán en
        ningún caso devueltos al consumidor, ni aún en caso de suspensión, cancelación o
        reprogramación del evento.
      </p>
      <p>
        La confirmación de la compra que usted realiza con su tarjeta de crédito o débito está
        sujeta a la revisión de la exactitud de los datos y a la autorización de la empresa emisora
        de ésta.
      </p>
      <p>
        Una vez reciba su Ticket es exclusiva responsabilidad del cliente por ello pedimos no
        compartirlo o mostrarlo de forma pública.
      </p>
      <p>
        Para tener acceso al sistema TixGo usted deberá tener habilitado el modo gráfico y aceptar
        cookies en su navegador. Si su navegador tiene deshabilitadas estas opciones por favor
        habilítelas y vuelva a cargar la página.
      </p>
      <p>
        Las entradas sólo serán válidas para ingresar al evento cuando hayan sido adquiridas a
        través del sistema TixGo. Para evitar situaciones tales como reventa ilegal,
        falsificaciones, uso de Tickets o QR robados, QR con doble acceso entre otras, le
        recomendamos comprar sus entradas exclusivamente utilizando el sistema TixGo en forma
        directa.
      </p>
      <p>
        Los Tickets no podrán ser utilizados en ningún caso para su reventa y/o aplicación comercial
        o de promoción alguna sin la previa autorización por escrito del Organizador o de TixGo.
      </p>
      <p>
        Antes de ingresar al evento, los espectadores podrán ser sometidos a un chequeo por parte
        del personal de seguridad, impidiéndose la entrada a quien se niegue a recibirlo, no
        acarreando esto ninguna responsabilidad o consecuencia para el Organizador ni para TixGo.
      </p>
      <p>
        No será permitido el ingreso al evento con pirotecnia, grabadoras, filmadoras, cámaras de
        fotografía y de video, ni cualquier elemento similar a los mencionados a criterio del
        Organizador, pudiendo los mismos ser retirados del lugar y destruido su contenido. El
        Organizador podrá solicitar que se apague todo equipo de radio llamada o teléfono celular
        antes del acceso al evento.
      </p>
      <p>
        El organizador se reserva la posibilidad de reemplazar los tickets de entrada por códigos QR
        siendo ambos formatos idénticos a todo efecto. En lo relativo a los términos y condiciones
        de uso del sistema TixGo será indistinta la denominación ticket, entrada o código QR. El
        organizador se reserva la posibilidad de establecer que para el ingreso al evento sea
        necesario canjear los tickets o QR ; este canje será realizado en la forma, horario y lugar
        a determinar por el organizador.
      </p>
      <p>
        Los usuarios podrán adquirir más de una entrada y hasta la cantidad máxima a determinar por
        el organizador, en este caso se emitirá un ticket o QR por cada entrada adquirida.
      </p>
      <p>
        Para el acceso al Evento, el Organizador exigirá la exhibición de la Entrada, del código QR,
        dependiendo de la modalidad que hubiese adoptado para ese Evento en particular. En el caso
        de emplear el QR, este será leído en el punto de control para verificar si el Cliente
        adquirió la Entrada para el Evento y permitir o denegar su acceso al mismo, según
        corresponda.
      </p>
      <p>
        El QR no podrá ser utilizado en ningún caso para su reventa y/o aplicación comercial o de
        promoción alguna sin la previa autorización por escrito del Organizador o de TixGo.
      </p>
    </div>
  </div>
</div>

<div *ngIf="language === 'en'" class="terms-and-conditions-wrapper">
  <div class="terms-and-conditions">
    <div>
      <h3><b>TERMS AND CONDITIONS</b></h3>
      <br /><br />
      <p>
        In these terms and conditions, the name "TixGo" is used to refer to the ticket sales system.
        By purchasing tickets through the TixGo system, the user acknowledges and accepts the
        following policies, terms, and conditions. The terms and conditions of use of the system are
        mandatory and binding. If you do not accept the terms, conditions, and policies of TixGo,
        you must refrain from using the service.
      </p>
      <br />
      <p>
        The TixGo system allows users to purchase tickets through the internet or other similar
        digital means. The system will automatically select the best available seat at the time of
        purchase according to the price level and category of the requested ticket.
      </p>
      <br />
      <p>
        It is understood that the terms "Ticket" or "QR" are equivalent in terms of their
        application to these terms and conditions and in terms of their functionality for accessing
        events.
      </p>
      <br />
      <p>
        Any purchase made through the system is subject to a service charge in addition to the
        ticket price (as listed in the price list for each event).
      </p>
      <br />
      <p>
        Tickets may be purchased by the consumer under the special conditions defined for each
        event.
      </p>
      <br />
      <p>
        Service charges that have been effectively provided by TixGo will not be refunded to the
        consumer under any circumstances, not even in the case of event suspension, cancellation, or
        rescheduling.
      </p>
      <br />
      <p>
        The confirmation of the purchase you make with your credit or debit card is subject to the
        accuracy of the data and the authorization of the issuing company.
      </p>
      <br /><br />
      <p>
        Once you receive your Ticket, it is the customer's sole responsibility; therefore, we ask
        that you do not share it or display it publicly.
      </p>
      <br />
      <p>
        To access the TixGo system, you must have graphics mode enabled and accept cookies in your
        browser. If your browser has these options disabled, please enable them and reload the page.
      </p>
      <br />
      <p>
        Tickets will only be valid for entry to the event when purchased through the TixGo system.
        To avoid situations such as illegal resale, counterfeiting, use of stolen Tickets or QR
        codes, double access QR codes, among others, we recommend purchasing your tickets
        exclusively using the TixGo system directly.
      </p>
      <br />
      <p>
        Tickets may not be used under any circumstances for resale and/or any commercial or
        promotional application without the prior written authorization of the Organizer or TixGo.
      </p>
      <br />
      <p>
        Before entering the event, spectators may be subjected to a security check by security
        personnel, and entry will be denied to those who refuse to undergo it, without any
        responsibility or consequence for the Organizer or TixGo.
      </p>
      <br />
      <p>
        Entry to the event will not be allowed with fireworks, recorders, camcorders, photographic
        and video cameras, or any similar items at the Organizer's discretion, and such items may be
        removed from the venue and their contents destroyed. The Organizer may request that all
        pagers or cell phones be turned off before entering the event.
      </p>
      <p>
        The Organizer reserves the right to replace entrance tickets with QR codes, both formats
        being identical in all respects. Regarding the terms and conditions of use of the TixGo
        system, the terms ticket, entrance, or QR code will be interchangeable. The Organizer
        reserves the right to establish that tickets or QR codes must be exchanged to enter the
        event; this exchange will be carried out in the manner, time, and place determined by the
        Organizer.
      </p>
      <p>
        Users may purchase more than one ticket, up to the maximum number determined by the
        Organizer, in which case a ticket or QR code will be issued for each ticket purchased.
      </p>
      <p>
        For access to the event, the Organizer will require the presentation of the Ticket or the QR
        code, depending on the method adopted for that particular event. In the case of using the QR
        code, it will be scanned at the control point to verify if the customer purchased the ticket
        for the event and allow or deny access accordingly.
      </p>
      <p>
        The QR code may not be used under any circumstances for resale and/or any commercial or
        promotional application without the prior written authorization of the Organizer or TixGo.
      </p>
    </div>
  </div>
</div>
