<div *ngIf="language === 'es'" class="return-policy-wrapper">
  <div class="return-policy">
    <div>
      <h3><b>POLÍTICA DE DEVOLUCIÓN</b></h3>
      <br /><br />
      <p>
        El Organizador es el único y directo responsable del espectáculo o evento a realizarse,
        sujeto a las condiciones de venta que él establezca. En ningún caso la suspensión,
        cancelación o reprogramación de un evento, incluso las que respondan a caso fortuito o
        fuerza mayor, dará derecho al comprador a reclamar a TixGo por devoluciones o cambios. Si la
        fecha de un evento fuera modificada por cualquier circunstancia, los Tickets serán válidos
        para la fecha definitiva que fije e informe el Organizador. La reprogramación del evento en
        ningún caso dará derecho al consumidor a reclamar la devolución del valor del ticket. Si un
        evento fuera suspendido o cancelado el consumidor tendrá derecho a solicitar la devolución
        del valor del ticket. Todas las devoluciones serán responsabilidad del Organizador, pudiendo
        TixGo colaborar en la gestión de dichas devoluciones al consumidor. Los cargos por servicio
        que hubieren sido efectivamente prestados por TixGo no serán en ningún caso devueltos al
        consumidor, ni aún en caso de suspensión, cancelación o reprogramación del evento.
      </p>
      <br />
      <p>
        El consumidor es responsable de chequear, aceptar y confirmar los términos y condiciones de
        su compra previo a realizarla, incluyendo sin limitación:
        <br />(i) la descripción y especificación del evento para el cual adquirió los Tickets,
        <br />(ii) los plazos y condiciones de la entrega, <br />(iii) los precios y condiciones de
        pago, <br />(iv) los costos y cargos adicionales.
      </p>
      <br />
      <p>
        Por ello antes de completar su compra, por favor revise cuidadosamente el evento, sección y
        ubicación deseada, ya que una vez confirmada su compra no se permiten cambios, reembolsos
        y/o devoluciones por este motivo.
      </p>
      <br />
      <p>
        Ante cualquier consulta, no dude en comunicarse con nosotros, a través de:
        <a href="mailto:webmaster@tixgo.mx">webmaster@tixgo.mx</a>
      </p>
    </div>
  </div>
</div>

<div *ngIf="language === 'en'" class="return-policy-wrapper">
  <div class="return-policy">
    <div>
      <h3><b>RETURN POLICY</b></h3>
      <br /><br />
      <p>
        The Organizer is the sole and direct responsible party for the show or event to be held,
        subject to the terms and conditions of sale established by them. Under no circumstances will
        the suspension, cancellation, or rescheduling of an event, including those due to force
        majeure or unforeseen circumstances, give the buyer the right to claim refunds or exchanges
        from TixGo. If the date of an event is modified for any reason, the tickets will be valid
        for the final date set and informed by the Organizer. The rescheduling of the event will not
        entitle the consumer to request a refund of the ticket value under any circumstances. If an
        event is suspended or canceled, the consumer will be entitled to request a refund of the
        ticket value. All refunds will be the responsibility of the Organizer, with TixGo
        potentially assisting in managing these refunds to the consumer. Service charges that have
        been effectively provided by TixGo will not be refunded to the consumer under any
        circumstances, not even in the case of event suspension, cancellation, or rescheduling.
      </p>
      <br />
      <p>
        The consumer is responsible for checking, accepting, and confirming the terms and conditions
        of their purchase prior to making it, including but not limited to:
        <br />(i) the description and specifications of the event for which the tickets were
        purchased, <br />(ii) the delivery terms and conditions, <br />(iii) the prices and payment
        conditions, <br />(iv) any additional costs and charges.
      </p>
      <br />
      <p>
        Therefore, before completing your purchase, please carefully review the desired event,
        section, and location, as once your purchase is confirmed, changes, refunds, and/or returns
        are not allowed for this reason.
      </p>
      <br />
      <p>
        If you have any questions, please do not hesitate to contact us at:
        <a href="mailto:webmaster@tixgo.mx">webmaster@tixgo.mx</a>
      </p>
    </div>
  </div>
</div>
