<div class="alert alert-dismissible shadow">

  <div class="row ps-3">
    <div class="col-9 text-start">
      <strong>{{ '::Ticketing' | abpLocalization }}</strong>
    </div>
    <div class="col-3 text-end">
      <i class="fa fa-ticket icon-md" aria-hidden="true"></i>
    </div>
  </div>

  <!-- Graph Ticket Sales -->
  <div class="row ps-3">
    <div class="col text-center pt-3 min-height">

      <canvas baseChart
        [data]="barChartData"
        [options]="barChartOptions"
        [plugins]="barChartPlugins"
        [legend]="barChartLegend"
        [type]="'bar'">
      </canvas>

    </div>
  </div>

  <!-- Last time update -->
  <div class="row">
    <div class="col text-end pt-3 pb-1">
      <small class="text-success" *ngIf="isPurchase">{{ '::LastPurchase' | abpLocalization }}</small><small class="text-secondary"> {{lastLoad}}</small>
    </div>
  </div>

  <!-- Loading Block Card-->
  <app-card-block [load]="load"></app-card-block>

</div>
