.ticket-page-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0;
  padding: 0;
  background-color: rgb(34 172 34);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.content {
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  color: #000;
}

.icon-container {
  width: 220px;
  height: 220px;
  border-radius: 50%;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.tick-icon {
  font-size: 50px;
  margin-top: -37px;
}

.message {
  margin-top: 5px;
  font-weight: bold;
  font-size: 25px;
}

.info .value {
  color: white;
  font-weight: bold;
}

.info {
  margin-top: 20px;
  padding: 10px;
  border: 2px solid white;
  width: 58%;
  text-align: center;
}

.info {
  margin-top: 20px;
  padding: 10px;
  border: 2px solid white;
  width: 58%;
  text-align: center;
}

.categories {
  display: flex;
  justify-content: center;
  align-items: center;
}

.categories .value {
  margin: 0 5px;
}

.label {
  font-weight: bold;
}

.value {
  margin-top: 5px;
}

.separator {
  color: white;
  font-weight: bold;
  font-size: 26px;
}

.modal-content {
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  margin: 20px;
  border-width: 3px;
}
