<div class="ticket-page-container" (click)="closeModalAfterDelay()">
  <div class="container">
    <div class="icon-container">
      <div class="tick-icon">&#10004;</div>
      <div class="message">Ticket aprobado</div>
    </div>
    <div class="info">
      <div class="value">{{data.clientName}}</div>
      <div class="categories">
        <div class="value">{{data.categoryName}}</div>
        <div class="separator">-</div>
        <div class="value">{{data.sectorName}}</div>
      </div>
    </div>
</div>


